[user]
	name = levontumanyan
	email = 5532305+levontumanyan@users.noreply.github.com
	signingkey = 2135B1DE37E2426D
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[include]
	path = ~/.gitconfig.os

[credential "https://github.com"]
	helper =
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !gh auth git-credential
